@page
@model Inkshelf.Pages.ConvertedModel
@{
    Response.Headers["Cache-Control"] = "no-store";
    if (Model.AnyConverting) { ViewData["MetaRefresh"] = 30; }
}
<div class="page-head" id="top">
    <h1 class="page-title">
        <a href="/?all=1" class="home-link" title="@L["Libraries"]"><img src="~/img/icon-black.png" alt="" class="title-icon" /></a>
        <a href="/?all=1">@L["Libraries"]</a> <span class="crumb-sep">›</span> @L["Converted"]
    </h1>
    <a class="settings-link" href="/settings" title="@L["Settings"]"><img src="~/img/gear-black.png" alt="@L["Settings"]" class="settings-icon" width="24" height="24" /></a>
</div>
<p>@L["Converted & cached on this device."]</p>
@if (Model.LoadError)
{
    <p>@L["Couldn't load details from Audiobookshelf. Try again."]</p>
}
else if (Model.Rows.Count == 0)
{
    <p>@L["Nothing converted for this device yet."]</p>
}
else
{
    foreach (var row in Model.Rows)
    {
        <partial name="_ItemRow" model="row" />
    }
}
